{% extends "usr/base.html" %}

{% block content %}

{% load static %}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Daftar Campaign</h1>
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .page-header -->

<div class="container">
    <div class="col-12">
        <div class="section-heading">
            <h2 class="entry-title"></h2>
        </div><!-- .section-heading -->
    </div>
</div>

<div class="news-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">

                {% for campaign in campaigns %}
                <div class="news-content">
                    <a href="#"><img src="{% static 'bootstrap_1/images/1.jpg' %}" alt=""></a>

                    <header class="entry-header d-flex flex-wrap justify-content-between align-items-center">
                        <div class="header-elements">
                            <div class="posted-date">{{ campaign.pub_date }}</div>

                            <h2 class="entry-title"><a href="#">{{ campaign.title }}</a></h2>

                            <div class="post-metas d-flex flex-wrap align-items-center">
                                <span class="cat-links">in <a href="#">Causes</a></span>
                                <span class="post-author">by <a href="#">Tom Phillips</a></span>
                                <span class="post-comments"><a href="#">3 Comments</a></span>
                            </div>
                        </div>

                        <div class="donate-icon">
                            <a href="#"><img src="{% static 'bootstrap_1/images/donate-icon.png' %}" alt=""></a>
                        </div>
                    </header>

                    <div class="entry-content">
                        <p>{{ campaign.description }}</p>
                    </div>

                    <footer class="entry-footer">
                        <a href="#" class="btn gradient-bg">Read More</a>
                    </footer>
                </div>
                {% endfor %}

                <ul class="pagination d-flex flex-wrap align-items-center p-0">
                    <li><a href="#">01</a></li>
                    <li><a href="#">02</a></li>
                    <li><a href="#">03</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}