{% extends "usr/base.html" %}

{% block content %}

{% load static %}

<div class="swiper-slide hero-content-wrap">
    <img src="{% static 'bootstrap_1/images/hero.jpg' %}" alt="" style = "height:500px">

    <div class="hero-content-overlay position-absolute w-100 h-100">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                    <header class="entry-header">
                        <h1>HelpEm</h1>
                        <h4>Donasi untuk IPBnesian</h4>
                    </header><!-- .entry-header -->

                    <div class="entry-content mt-4">
                        <p>Jutaan mahasiswa IPB tidak menyadari berdonasi di HelpEm dapat membantu teman-teman sesama mahasiswa dalam melanjutkan kuliah.</p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer d-flex flex-wrap align-items-center mt-5">
                        <a href="{% url 'campaign' %}" class="btn gradient-bg mr-2">Mulai donasi</a>
                    </footer><!-- .entry-footer -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .hero-content-overlay -->
</div><!-- .hero-content-wrap -->



    <div class="home-page-icon-boxes">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <figure class="d-flex justify-content-center">
                            <img src="{% static 'bootstrap_1/images/hands-gray.png' %}" alt="">
                            <img src="{% static 'bootstrap_1/images/hands-white.png' %}" alt="">
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">Jadi donatur</h3>
                        </header>

                        <div class="entry-content">
                            <p>Seluruh IPBnesian dapat ikut berdonasi!</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <figure class="d-flex justify-content-center">
                            <img src="{% static 'bootstrap_1/images/donation-gray.png' %}" alt="">
                            <img src="{% static 'bootstrap_1/images/donation-white.png' %}" alt="">
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">Ajukan permohonan</h3>
                        </header>

                        <div class="entry-content">
                            <p>Sebagai IPBnesian, kamupun bisa mendaftar untuk menerima bantuan!</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <figure class="d-flex justify-content-center">
                            <img src="{% static 'bootstrap_1/images/charity-gray.png' %}" alt="">
                            <img src="{% static 'bootstrap_1/images/charity-white.png' %}" alt="">
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">Transfer donasimu</h3>
                        </header>

                        <div class="entry-content">
                            <p>Donasi diberikan via transfer, donasimu jadi lebih mudah.</p>
                        </div>
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-icon-boxes -->

    <div class="home-page-welcome">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 order-lg-1">
                    <div class="welcome-content">
                        <header class="entry-header">
                            <h2 class="entry-title">Selamat datang di HelpEm!</h2>
                        </header><!-- .entry-header -->

                        <div class="entry-content mt-5">
                            <p>HelpEm bekerja sama dengan Direkorat Kemahasiswaan dan Pengembangan Karir IPB dan Badan Eksekutif Mahasiswa di IPB.
                                HelpEm tidak hanya menerima dan menyalurkan bantuan, tetapi juga aktif mencari teman-teman yang membutuhkan.
                            </p>
                        </div><!-- .entry-content -->

                        <div class="entry-footer mt-5">
                            <a href="{% url 'about' %}" class="btn gradient-bg mr-2">Cari tahu</a>
                        </div><!-- .entry-footer -->
                    </div><!-- .welcome-content -->
                </div><!-- .col -->

                <div class="col-12 col-lg-6 mt-4 order-1 order-lg-2">
                    <img src="{% static 'bootstrap_1/images/welcome.jpg' %}" alt="mahasiswa">
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-icon-boxes -->





    <div class="home-page-limestone">
        <div class="container">
            <div class="row align-items-end">
                <div class="coL-12 col-lg-6">
                    <div class="section-heading">
                        <h2 class="entry-title">Bantu untuk mewujudkan mimpi kami!</h2>

                        <p class="mt-5">Kamu bisa bergabung bersama kami untuk membantu teman-teman mahasiswa dalam melanjutkan kuliahnya. </p>
                    </div><!-- .section-heading -->
                </div><!-- .col -->

                <div class="col-12 col-lg-6">
                    <div class="milestones d-flex flex-wrap justify-content-between">
                        <div class="col-12 col-sm-4 mt-5 mt-lg-0">
                            <div class="counter-box">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="{% static 'bootstrap_1/images/teamwork.png' %}" alt="">
                                </div>

                                <div class="d-flex justify-content-center align-items-baseline">
                                    <div class="start-counter" data-to="120" data-speed="2000"></div>
                                    <div class="counter-k">K</div>
                                </div>

                                <h3 class="entry-title">Children helped</h3><!-- entry-title -->
                            </div><!-- counter-box -->
                        </div><!-- .col -->

                        <div class="col-12 col-sm-4 mt-5 mt-lg-0">
                            <div class="counter-box">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="{% static 'bootstrap_1/images/donation.png' %}" alt="">
                                </div>

                                <div class="d-flex justify-content-center align-items-baseline">
                                    <div class="start-counter" data-to="79" data-speed="2000"></div>
                                </div>

                                <h3 class="entry-title">Water wells</h3><!-- entry-title -->
                            </div><!-- counter-box -->
                        </div><!-- .col -->

                        <div class="col-12 col-sm-4 mt-5 mt-lg-0">
                            <div class="counter-box">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="{% static 'bootstrap_1/images/dove.png' %}" alt="">
                                </div>

                                <div class="d-flex justify-content-center align-items-baseline">
                                    <div class="start-counter" data-to="253" data-speed="2000"></div>
                                </div>

                                <h3 class="entry-title">Volunteeres</h3><!-- entry-title -->
                            </div><!-- counter-box -->
                        </div><!-- .col -->
                    </div><!-- .milestones -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .our-causes -->

{% endblock content %}